.companyContainer {
    /* display: flex;
    flex-direction: column;
    align-items: stretch; */
    /* width: 100%; */
    margin: 0 auto;
}

/* .searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100%;
} */

.searchBar {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
    width: 95%;
    gap: 15px;
}

.searchList {
    display: flex;
    justify-content: center;
}

.resultsContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.tableContainer{
    margin-top: 0;
    margin-bottom: 5rem;
    width: 90rem;
    height: 60%;
    display: flex;
    justify-content: center;
}

/* 기업 공고 리스트 */
.title {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 6rem;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: #6E7783;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */

}



