.centerDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.form {
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* 너비 조정 */
    box-sizing: border-box;
    margin: 0 auto;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.formGroup input[type="email"],
.formGroup input[type="password"],
.formGroup input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px; /* 간격 조정 */
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.buttonContainer button {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 40px;
    background-color: #77AAAD;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
    background-color: #6E7783;
}

.kakaoSignup {
    width: 95%;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}