.acceptedKeywordContainer {
    padding: 20px;
}

.acceptedKeywordJobSelection {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.acceptedKeywordJobSelection button {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    background-color: #999;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.acceptedKeywordJobSelection button.acceptedKeywordSelected {
    background-color: #77AAAD;
    border-color: #999;
}

.acceptedKeywordKeywords {
    border: 2px solid #ccc;
    padding: 30px;
    margin-bottom: 5px;
}

.acceptedKeywordKeywords ul {
    list-style: none;
    padding: 0;
}

.acceptedKeywordKeywords li {
    padding: 5px 0;
}

.acceptedKeywordChart {
    border: 2px solid #ccc;
    max-width: 1200px;
    max-height: 600px;
    justify-content: center;
    padding: 30px;
}