/* MyResume.jsx */
.resume-management {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.resume-actions {
  margin-bottom: 20px;
}

.resume-actions button {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #77AAAD;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 100px;
}

.resume-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.resume-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 200px;
  padding: 15px;
  position: relative;
  text-align: center;
}

.resume-card-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.new-resume-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #77AAAD;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 0 auto;
}

.resume-card-date,
.resume-card-status {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.resume-card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.resume-card-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.resume-card-options button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  background-color: #77AAAD;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:last-child {
  background-color: #777;
}


/* MyResumeInsert.jsx */
.resume-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.resume-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.resume-container form>div {
  margin-bottom: 15px;
}

.resume-container label {
  /* display: block; */
  font-weight: bold;
  margin-bottom: 5px;
}

.resume-container input,
.resume-container textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
}

.resume-container button {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9DC3C1;
  color: white;
  cursor: pointer;
}

.resume-container button[type="button"]:last-child {
  background-color: #77AAAD;
}

.resume-container button:hover {
  background-color: #77AAAD;
}

button.add-button {
  padding: 5px 10px;
  background-color: transparent;
  font-size: 12px;
  color: white;
  background-color: #9DC3C1;
  margin-bottom: 10px;
  cursor: pointer;
}

button.add-button:hover {
  background-color: #77AAAD;
}

.experience,
.education,
.award {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.experience input,
.experience textarea {
  width: calc(100% - 20px);
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

button.remove-button {
  position: absolute;
  /* width: 10px; */
  top: 10px;
  right: 1px;
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 1.2em;
  margin-bottom: 5px;
  margin-left: 10px;
  cursor: pointer;
}

button.remove-button:hover {
  color: #b2b0b0;
}

input.checkboxDiv {
  text-align: center;
}

input.checkbox {
  position: relative;
  top: 9px;
  width: 20px;
}



/* div {
    box-sizing: border-box;
}

.myresumehead {
    padding-left: 20px;
    text-align: left;
    border-bottom: 1px solid gray;
}

.myresumebody {
    padding-left: 20px;
    text-align: left;
    border-bottom: 1px solid gray;
}

.modalmyresumedetail {
    margin-top: 20px;
    padding: 20px;
    background: #eee;
    text-align: left;
} */