.resumeContainer {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-top: 30px;
    border-radius: 5px;
}

.resumeContainerTitle {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.jobCateory {
    font-size: 15px;
}

.resumeContainer form>div {
    margin-bottom: 15px;
}

.resumeContainer label {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    padding-right: 10px;
}

.resumeContainer p {
    text-align: left;
    color: black;
}

.resumeContainer input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.resumeContainer textarea {
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(30% - 20px);
    border: 1px solid #ccc;
    text-align: left;
    border-radius: 5px;
}

.resumeContainer button {
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;

}

.resumebasic,
.experience,
.education,
.activity {
    position: relative;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
}

.basicInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basicInput input {
    width: 90%;
}

.experience input {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

.checkboxDiv {
    text-align: left;
}

.span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkbox {
    position: left;
    top: 9px;
    width: 11rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.checkbox span {
    width: 12rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.addButton {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 10px;
}

.addButtonImage {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.addButton:hover .addButtonImage {
    background-color: #ffffff;
    border-radius: 5px;
}

.removeButton {
    background-color: #ccc;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.removeButtonImage {
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
}

.removeButton:hover .removeButtonImage {
    background-color: #ffffff;
    border-radius: 5px;
}

.saveButton[type="button"]:last-child {
    width: 300px;
    height: 50px;
    background-color: #77AAAD;
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;

}

.saveButton[type="button"]:hover {
    background-color: #9DC3C1;
}