.tableContainer {
    width: 100%;
    border-collapse: collapse;
}
  
.tableHeader {
    background-color: #77AAAD;
    color: #fff;
}

.tableHeader th {
    border-bottom: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tableRow td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.linkBox a {
    display: block;
}

.noDecoration {
    text-decoration: none;
    color: inherit;
}

.tableRow:hover {
    background-color: #77AAAD;
    color: white;
}

.tableBox {
    display: flex;
    flex-direction: column; /* 세로 방향으로 요소 배치 */
    justify-content: center; /* 요소를 세로 가운데 정렬 */
    align-items: center; /* 요소를 가로 가운데 정렬 */
    height: 100vh; /* 화면 전체 높이 */
}

.tableContainer th:nth-child(1),
.tableContainer td:nth-child(1) {
    width: 100px;
}

.tableContainer th:nth-child(2),
.tableContainer td:nth-child(2) {
    width: 700px;
}

.tableContainer th:nth-child(3),
.tableContainer td:nth-child(3) {
    width: 100px;
}

.tableContainer th:nth-child(4),
.tableContainer td:nth-child(4) {
    width: 100px;
}

.actionBar {
    display: flex;
    justify-content: center; /* 요소를 가운데 정렬 */
    align-items: center; /* 요소를 세로 가운데 정렬 */
    gap: 10px; /* 요소 간의 간격 추가 */
    margin-top: 20px; /* 위쪽에 간격 추가 (필요한 경우) */
}


.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(30* var(--bs-gutter-x));
    margin-left: calc(30* var(--bs-gutter-x));
    flex-wrap: wrap;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .controlItem {
    flex: 1;
  }