/* global.css */

.flex-container {
  display: flex;
  flex-grow: 1;
}

.navigation-container {
  width: 100%;
}

.left-nav-container {
  flex: 0 0 15vh;
  max-width: 10em;
  /* 왼쪽 네비게이션의 스타일 */
}

.navbar {
  border-bottom: 2px solid #9dc3c1; /* 하단에 선 추가 */
}

.me-auto {
  margin-left: 0px;
}

.nav-link {
  width: 110px;
  font-weight: 900;
  margin: auto;
}

.nav .nav-link:last-child {
  margin-right: 0; /* 마지막 메뉴 항목은 오른쪽 여백 제거 */
}
.main-content-container {
  flex: 1;
  /* 메인 컨텐츠 영역의 스타일 */
}

.navigation_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.navigation_bar img {
  height: 3vw;
}

.navigation_bar ul {
  display: flex;
  justify-content: space-around;
  width: 50vh;
  list-style: none;
  cursor: pointer;
}

.navigation_bar li {
  color: white;
}

.navigation_bar p {
  color: white;
  min-width: 3em;
  cursor: pointer;
}

.navigation-container {
  background-color: #ffffff;
  padding: 0px;
}

.navigation-container ul {
  list-style: none;
}

.navigation-container li {
  position: relative;
  display: inline-block;
  margin-right: 15px; /* 각 메뉴 간 간격 설정 */
}

.navigation-container a {
  text-decoration: none;
  font-weight: 600;
  padding: 0px 12px 0px 18px;
  display: inline-block;
  font-size: 17px;
  color: #222;
}

.submenu {
  position: absolute;
  top: calc(100% + 10px); /* 메뉴 아래에 위치하도록 설정 */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  width: 200px;
  height: 200px;
  behavior: "smooth";
  z-index: 3;
  margin-top: 13px;
}

.submenu a {
  padding: 15px 0px 10px 18px;
  color: #fff;
}

.menu-background {
  position: absolute;
  top: calc(100%);
  left: 0;
  width: 100%;
  max-height: 0;
  background-color: rgba(157, 195, 193, 0.8); /* 반투명 배경 색상 */
  z-index: 2; /* 세부 메뉴 뒤에 위치하도록 설정 */
  transition: max-height 0.3s ease, opacity 0.7s ease;
  pointer-events: none; /* 마우스 이벤트를 무시 */
  behavior: "smooth";
  opacity: 0;
}

.menu-background-visible {
  max-height: 320px;
  opacity: 1;
}

.navigation-container li:hover .submenu {
  max-height: 320px;
}

.navbar:hover .menu-background {
  height: 210px;
}

.submenu a {
  padding: 15px 0px 10px 18px;
}

.subword {
  color: #ffffff;
}
.navigation-container:hover .submenu {
  max-height: 300px; /* navigation-container에 마우스를 올렸을 때 슬라이드 메뉴의 높이 설정 */
}

.subback {
  background: red;
  width: 10000px;
}

.navigation-container:hover {
  max-height: 300px;
}

.map_div {
  margin-top: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  align-items: center;
  justify-content: space-between;
  text-align: left;
  height: 300px;
  background: linear-gradient(#ffffff, #9dc3c1);
}

.slider1 {
  display: flex;
}

.slider1_left {
  width: 50%;
  height: 200px;
  float: left;
  text-align: right;
  margin-top: 60px;
}

.slider1_right {
  width: 50%;
  float: right;
}
.slider1_right .AIrobot {
  max-width: 100%;
  margin-left: 20px;
}

.middle_word {
  text-align: center;
  margin-top: 60px;
}

.banner {
  width: 1000px;
  height: 400px;
  margin: auto;
  margin-bottom: 30px;
  background: #d8e6e7;
  border-radius: 10px;
  align-items: center;
}

.banner li {
  margin-bottom: 10px;
}

.resume_image {
  float: left;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.resume_word {
  float: right;
  width: 50%;
  margin-top: 40px;
}

.interview_image {
  float: right;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.interview_word {
  float: left;
  width: 50%;
  padding-left: 80px;
  padding-top: 65px;
}

.banner_botton {
  margin-left: 50px;
}

.subscribe_banner {
  text-align: center;
  background: #77aaad;
  height: 140px;
  padding: 20px;
  margin-top: 60px;
}

.subscribe_button {
  margin: 20px;
  font-size: 50x;
}

.footer {
  width: 1400px;
  height: 120px;
  margin: auto;
  margin-top: 50px;
}

.square {
  width: 1.5vh;
  height: 1.5vh;
  display: inline-block;
  margin: 0;
  border: solid 1px #333;
}

.hidden {
  background-color: black;
}

.revealed {
  background-color: white;
}

.current {
  background-color: red;
}

.adjacent {
  background-color: grey;
}

/* 초록색 칸 스타일 */
.square.special-green {
  background-color: green;
}

/* 노란색 칸 스타일 */
.square.special-yellow {
  background-color: yellow;
}

/* 모바일 뷰 (기본 스타일) */
.background-container {
  background-image: url("/image/main.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

/* 태블릿 뷰 */
@media (min-width: 768px) {
  .background-container {
    /* 태블릿에 적합한 스타일 */
  }
}

/* 데스크톱 뷰 */
@media (min-width: 992px) {
  .background-container {
    /* 데스크톱에 적합한 스타일 */
  }
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  height: 60vh;
  width: 100vw;
}

/* 폼의 너비를 지정하고, 패딩과 테두리를 너비 계산에 포함 */
.form {
  display: flex;
  flex-direction: column;
  width: 100%; /* 폼 너비를 전체로 설정 */
  max-width: 20vw; /* 폼의 최대 너비 설정 */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #ffffff;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  justify-content: flex-start; /* 레이블을 시작 지점에 정렬 */
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.form-group label {
  min-width: 100px;
  text-align: right; /* 레이블 텍스트를 우측 정렬 */
}

.form-group input {
  flex-grow: 1; /* 입력 필드가 남은 공간을 모두 차지하도록 설정 */
  margin-left: 10px;
}

/* 버튼을 중앙에 위치시키기 위한 스타일 */
.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-container button {
  margin-top: 10px;
}

/* 챗봇 아이콘 스크롤 고정 */
.chatbot.fixed-bottom {
  position: fixed;
  bottom: 45px;
  margin-left: 20px;
  z-index: 1000;
}

/* 챗봇 버튼 */
.chatbot-button {
  position: fixed;
  bottom: 10px;
  border-radius: 100px;
  margin-left: 20px;
  z-index: 1000;
  background-color: #9DC3C1;
  color: #ffffff;
  border: 2px solid #9DC3C1;
}

