.container {
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.searchForm {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 70%;
}

.searchButton {
  padding: 10px 20px;
  background-color: #77AAAD;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.articleList {
  list-style-type: none;
  padding: 0;
}

.articleItem {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  transition: transform 0.2s, background-color 0.2s;; 
}

.articleItem:hover {
  transform: scale(1.02);
  background-color: #9DC3C1;
}

.articleLink {
  display: flex;
  text-decoration: none;
  color: inherit;
  flex: 1;
}

.imageContainer {
  flex: 0 0 150px;
  height: 100px;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.articleImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.articleInfo {
  padding: 10px;
  flex: 1;
  text-align: left;
}

.articleTitle {
  font-size: 18px;
  margin-bottom: 5px;
}

.articleContent {
  font-size: 14px;
  margin-bottom: 5px;
}

.articleTime,
.articleSource {
  font-size: 12px;
  color: #666;
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #77AAAD;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.scrollToTop:hover {
  background-color: #77AAAD;
}
