/* .mapDiv {
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
} */


.interviewListContainer {
    display: flex;
    /* justify-content: ; */
    margin: 0 auto;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 5%;
    padding-bottom: 1rem;
}

/* 왼쪽 리스트 컨테이너 */
.interviewContainer {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 8px;
    width: 80%;
    height: 40rem;
}

.resultContainer {
    min-height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.img {
    width: 2.2rem;
    cursor: pointer;
}

.icon {
    width: 52.4px;
    height: 50.91px;
    left: 383.91px;
    top: 621.6px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 20px;
    color: #333;
}


/* h2 클래스 */
.title {
    text-align: center;
    padding: 1rem;
    font-weight: 800;
}

/* 모의 면접 결과 리스트 컨테이너 */
.listContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30rem;
    height: 35rem;
    border-right: 3px solid#D8E6E7;
}

.info {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.sortMenu {
    width: 30px;
    height: 30px;
    margin-left: 18rem;
    cursor: pointer;
    position: relative; 
}

.menuContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    vertical-align: center;
    margin-bottom: 1rem;
    position: relative; /* 자식 요소의 절대 위치 기준 */
}
.dropdownBox {
    position: absolute; /* sortMenu 바로 위에 위치 */
    top: 2rem;
    right: -5rem; /* sortMenu의 margin-left와 일치 */
    z-index: 10000;
}

.cardContainer {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0.3em;
    width: 80%;
    min-height: 75%;
    max-height: 100%;
    background-color: #D8E6E7;
    overflow-y: scroll; /* 스크롤바 숨기기 */
    position: relative;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.cardContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* 무한 스크롤 버튼 */
.buttonBox {
    width:23rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.button {
    color: white;
}

.cardBox {
    display: flex;
    justify-content: center;
    background-color: initial;
}

/* 인터뷰카드 */
.interviewItem {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.addBlock {
    width: 90%;
    border-radius: 8px;
    padding:1.2rem;
    background-color: white;
    display: flex;
    justify-content: center;
}

.trash{
    margin-left: 0.7rem;
    width: 1.5rem;
    height: 1.7rem;
    transition: background-image 0.3s ease; /* 이미지 변경 시 부드러운 전환 효과 */

}
.trash:hover {
    content: url('/image/trash.png'); 
}


.interviewItem > p {
    color: black;
    width:8.2rem;
}
.interviewItem:hover > p {
    color: white;
}

.interviewItem:hover .trash {
    content: url('/image/trash.png');
}

.interviewItem:hover {
    background-color: #77AAAD;
    color: white;
    cursor: pointer;
   
}

.selected {
background-color: #77AAAD;
}

.selected > p {
    color: white;
}

.selected .trash {
    content: url('/image/trash.png');
}


.selectedText {
    color: white; 
}
.interviewTitle {
    font-size: 1em;
    color: #333;
}

