/* Frame 1 */
/* . {
position: relative;
width: 1920px;
height: 1024px;
left: 100px;
top: 100px;
} */


/* 면접틀 */
.interview-container{
position: absolute;
width: 1920px;
height: 1024px;
left: 0px;
top: 0px;
background: #FFFFFF;
}

/* Vector

position: absolute;
visibility: hidden;
left: 0.89%;
right: 97.08%;
top: 10.94%;
bottom: 85.64%;

background: #77AAAD;


/* 하단영역 */

/* box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 90.53%;

background: #77AAAD;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;


/* gps */
/* 
position: absolute;
left: 12.77%;
right: 21.19%;
top: 21.1%;
bottom: 12.8%; */

/* Path */
.path {
position: absolute;
left: 78.81%;
right: -44.85%;
top: 21.1%;
bottom: 12.8%;

/* Color/Neutral/6 - White */
background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
}


.results-container {
    margin-top: 20px;
}

.results-list {
    list-style-type: none;
    padding: 0;
}

.result-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.result-title {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.result-company, .result-require, .result-time {
    margin: 5px 0;
}

/* 메인 > AI history > AI 면접 */
.ai-path {
    position: absolute;
    left: 0.47%;
    right: 83.54%;
    top: 11.52%;
    bottom: 84.57%;
  
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: lowercase;
  
    color: #000000;
  }
  


/* 영상화면 */

.video-container{
box-sizing: border-box;

position: absolute;
width: 1379px;
height: 632px;
left: 271px;
top: 167px;

background: #FBFBFB;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;
}

/* loading */
.loading-container {
position: absolute;
width: 90px;
height: 38px;
left: 600px;
top: 335px;
}


/* Loading */
.loading-text {
position: absolute;
width: 132px;
height: 20px;
left: 28px;
top: calc(50% - 20px/2);

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 20px;
/* identical to box height, or 50% */
display: flex;
align-items: center;

/* Color/Neutral/2 - Grey */
color: #3F3356;
}


/* Icons/24px/Loading */
/* 
position: absolute;
width: 32px;
height: 31px;
left: -8px;
top: calc(50% - 31px/2 - 3.5px);

background: #F5F5F5; */


/* Icons/24px/Loading */
.loading-icon {
position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

}

/* Path */
/* 
position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #77AAAD; */


/* 면접질문 */
.answer {
position: absolute;
width: 1380px;
height: 89px;
left: 0px;
top: 0px;
}


/* 질문영역 */
.answer-container {
position: absolute;
width: 1380px;
height: 89px;
left: 0px;
top: 0px;


background: #77AAAD;

}
/* Q : 질문이 나오는 칸입니다. */
.answer-box {
position: absolute;
width: 1314px;
height: 57px;
left: 38px;
top: 18px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 20px;
/* or 67% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

/* 다음버튼 */
.next-button {
position: absolute;
width: 48px;
height: 48px;
left: 1311px;
top: 20px;

}

/* Rectangle */
/* 
position: absolute;
left: 95.07%;
right: 1.45%;
top: 3.16%;
bottom: 89.24%;

background: #FFFFFF;
border-radius: 16px; */


/* Rectangle */
/* 
position: absolute;
left: 95.07%;
right: 1.45%;
top: 3.16%;
bottom: 89.24%;

background: #FFFFFF;
border-radius: 16px; */


/* Icons/24px/Navigation */

/* position: absolute;
width: 24px;
height: 24px;
left: calc(50% - 24px/2 + 657.65px);
top: calc(50% - 24px/2 - 275.97px);

background: #FFFFFF;
transform: rotate(45.49deg); */


/* Icons/24px/Navigation */

/* position: absolute;
left: 65.22%;
right: -31.26%;
top: 23.9%;
bottom: 10%;

transform: rotate(45.49deg); */


/* gps */
/* 
position: absolute;
left: 65.22%;
right: -31.26%;
top: 23.9%;
bottom: 10%;

transform: rotate(45.49deg); */


/* Path */

/* position: absolute;
left: 111.51%;
right: -77.55%;
top: 71%;
bottom: -37.1%;

background: #77AAAD;
transform: matrix(-0.7, -0.71, -0.71, 0.7, 0, 0); */


/* . */
/* 
box-sizing: border-box;

position: absolute;
width: 1379px;
height: 204px;
left: 271px;
top: 799px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 2px; */


/* Button/L/Primary/Default */
/* 
position: absolute;
width: 114px;
height: 42px;
left: 1251px;
top: 12px;

background: #FFFFFF; */


/* Frame */
/* 
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #77AAAD;
border-radius: 6px;
 */

/* Text */
/* 
position: absolute;
width: 311px;
height: 22px;
left: calc(50% - 311px/2 - 0.5px);
top: calc(50% - 22px/2);

font-family: 'Acme';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 22px;
/* identical to box height, or 129% */
/* display: flex;
align-items: center;
text-align: center; */

/* Color/Neutral/6 - White */
/* color: #FFFFFF; */ 



/* 사용법설명모음 */
/* 
position: absolute;
width: 1201px;
height: 747px;
left: 449px;
top: 71px;
 */


/* 사용법설명1 */
/* 
position: absolute;
width: 549px;
height: 95px;
left: 1101px;
top: 71px; */



/* Triangle */
/* 
position: absolute;
width: 22px;
left: calc(50% - 22px/2 + 611px);
top: 16.21%;
bottom: 82.81%;

background: #D8E6E7;
transform: rotate(-180deg);
 */

/* Rectangle */
/* 
position: absolute;
left: 81.82%;
right: -6.3%;
top: 15.23%;
bottom: 76.46%;

background: #D8E6E7;
border-radius: 8px;
transform: rotate(-180deg); */


/* 면접 질문에 따라 답변해주세요. 다음 질문으로 넘어가고 싶다면 아이콘을 클릭해주세요. */
/* 
position: absolute;
width: 523px;
height: 63px;
left: 1127px;
top: 83px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 16px;
/* or 89% */
/* display: flex;
align-items: center;
text-transform: lowercase;

color: #6E7783; */



/* 설명 */
/* 
position: absolute;
left: 81.77%;
right: 4.95%;
top: 78.71%;
bottom: 13.18%;

transform: rotate(-180deg);
 */

/* Group 5 */
/* 
position: absolute;
width: 255px;
height: 83.03px;
left: 297.67px;
top: 83.03px;

transform: rotate(-180deg);


/* Group 6 */
/* 
position: absolute;
width: 255px;
height: 83.03px;
left: 297.67px;
top: 83.03px;

transform: rotate(-180deg); */ 


/* Triangle */
/* 
position: absolute;
width: 12.91px;
left: calc(50% - 12.91px/2 + 101.26px);
top: 100.03%;
bottom: -8.14%;

background: #D8E6E7;
transform: rotate(-180deg); */


/* Rectangle */
/* 
position: absolute;
left: 116.73%;
right: -116.73%;
top: 91.89%;
bottom: -83.78%;

background: #D8E6E7;
border-radius: 8px;
transform: rotate(-180deg); */


/* 면접 종료를 원할 시에는 면접종료 버튼을 눌러주세요. */
/* 
position: absolute;
width: 221px;
height: 46px;
left: 68px;
top: 15px;

font-family: 'NanumGothic';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 16px;
/* or 89% */
/* display: flex;
align-items: center;
text-transform: lowercase;

color: #6E7783; */



/* 사용법 */
/* 
position: absolute;
width: 18px;
height: 12px;
left: 449px;
top: 806px; */



/* 말풍선 */
/* 
position: absolute;
width: 18px;
left: calc(50% - 18px/2 - 484px);
top: 79.88%;
bottom: 18.95%;

background: #D8E6E7;
transform: rotate(-180deg); */