.companyContainer {
    display: flex;
    flex-direction: column;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 전체 화면 높이 가운데 정렬을 위해 */
    width: 80vw;
}

.searchList {
    display: flex;
    justify-content: center;
}

.resultsContainer{
    display: flex;
    justify-content: center;
}




/* 기업 공고 리스트 */
.title {
position: absolute;
width: 40%;
height: 10%;
left: 2rem;
top: 9rem;

font-style: normal;
font-weight: 800;
font-size: 2.5rem;
line-height: 20px;
/* or 42% */
display: flex;
align-items: center;
text-align: center;

color: #6E7783;
}


