/* CustomDropdown.module.css */
.dropdownContainer {
    position: relative;
}

.dropdownHeader {
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
}

.dropdownHeader::after {
    content: '▼';
    float: right;
    
}

.dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

.dropdownList.open {
    display: block;
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #f0f0f0;
}
