.tableContainer {
    width: 80%;
    border-collapse: collapse;
  }
  
.tableHeader {
background-color: #77AAAD;
color: #fff;
}

.tableHeader th {
border-bottom: 2px solid #ddd;
padding: 8px;
text-align: left;
}

.tableRow td {
border-bottom: 1px solid #ddd;
padding: 8px;

}

.linkBox a {
  display:block;
}

.noDecoration {
  text-decoration: none;
  color: inherit;
}

.tableRow:hover {
  background-color:#77AAAD;
  color: white;
}

.tableBox {
  display: flex;
  justify-content: center;
}
